.item-display {

}
.item-image {
    width: 75px;
    height: 75px;
}

.title-row { height: 2.3rem; }
.price-row { height: 3rem; }

.item-description {
    max-height: 2rem;
}

.item-prices del {
    font-weight: normal;
    font-size: 0.7rem;
}
.item-prices .item-price {
    font-weight: bold;
    font-size: 1rem;
}

.item-to-cart {
    transform: scale(0.8);
}

.exclusive.spinner-grow { height: 1rem; width: 1rem; margin-bottom: 0.2rem; margin-right: 0.2rem; }
.onsale.spinner-grow { height: 0.6rem; width: 0.6rem; margin-bottom: 0.1rem; margin-right: 0.1rem; }
section.categories {

}
section.categories h5 { border-bottom-width: 0.1rem; border-bottom-style: solid; }
section.categories h5 .more { font-size: 0.8rem; }
#application {

}

#public_top_spacer {
    height: 1rem;
}
.filter-control {
    transform: translateY(-25%);
}
.cart-items-count::after {
    content: 'items';
    font-weight: normal;
    font-size: 0.8rem;
    display: block;
    position: relative;
    top:  -0.2rem;
    text-transform: uppercase;
}
.cart-items-total::after {
    content: 'amount';
    font-weight: normal;
    font-size: 0.8rem;
    display: block;
    position: relative;
    top:  -0.2rem;
    text-transform: uppercase;
}
hr.hr-or::after {
    content: 'OR';
    display: block;
    transform: translateY(-50%);
    text-align: center;
    padding: 0;
    background-color: white;
    margin: auto;
    width: 3rem;
}
.user-cart { max-width: 55vh; }
.cart-total::after {
    content: 'totol amount';
    font-weight: normal;
    font-size: 0.8rem;
    display: block;
    position: relative;
    top:  -0.2rem;
    text-transform: uppercase;
}